body {
  padding: 0%;
  margin: 0;
  width: 100vw;
}

h1.sud_anTxt {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.FIRST {
  color: white;
}

.header-box {
  /* Light gray background */
  color: #f2f2f2;
  /* Dark text color */
  padding: 20px;
  /* Padding inside the box */
  border-radius: 5px;
  /* Optional: rounded corners */
}

.sud_anTxt {
  font-size: 40px;
}

.header-box p {
  margin: 0px;
  color: black;
}

main {
  margin-left: 20px;
}

/* --------------MENU BUTTON */
#content {
  display: none;
  margin-top: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
}

#toggleButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

#toggleButton:hover {
  background-color: #0056b3;
}

.image-container {
  display: flex;
  justify-content: space-between;
  /* Distributes space evenly */
  align-items: center;
  /* Aligns images vertically */
  gap: 20px;
  /* Optional: spacing between images */
}

.image-container img {
  max-width: 400px;
  /* Ensures images are responsive */
  height: auto;
  /* Maintains aspect ratio */

  border-radius: 50%;

}

.form-container {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  gap: 20px;
  color: #333;
}

.form-group {
  align-items: left;
  justify-content: space-between;
}

label {
  flex: 1;
  margin-left: 10px;
}

input[type="number"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.price-info {
  flex: 1;
  text-align: left;
}

.price-info span {
  display: block;
  margin-bottom: 10px;
}

.total-price {
  font-weight: bold;
  font-size: 1.2em;
}

.alignSelf {
  gap: 20px;
  display: flex;
}

.picture {
  width: 300px;
}

.quantity {
  margin: 0%;
}

#total {
  font-weight: bold;
  margin-top: 20px;

}

.grid-container {
  display: grid;
  color: #f2f2f2;
}

.open-modal-btn {
  padding: 15px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.open-modal-btn-buang {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modalBuang {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 70px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  max-width: 500px;
  text-align: center;
}

.modal-content-buang {
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 105%;
  /* Could be more or less, depending on screen size */
  max-width: 500px;
  text-align: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn-buang {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-center {
  padding-left: 500px;
  /* padding: 20px; */
}

.icon {
  width: 20px;
}

.divideMap {
  display: flex;
}

.padding-top {
  padding-top: 2px;
}

.hidden {
  display: none;
}

/* ---------------modal cancelation */
.cancelbtn,
.reservebtn {
  float: left;
  width: 50%;
}

clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.reservebtn {
  background-color: #f44336;
}

* {
  box-sizing: border-box
}

/* Set a style for all buttons */
button {
  background-color: #3998e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;

}

button:hover {
  opacity: 1;
}

/* --------------SLIDESHOW */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/* ----------------ORDER SUMMARY */
.order-summary {
  text-align: left;
  margin: 20px 0;
}

.order-item {
  margin-bottom: 15px;
}

.order-item p {
  margin: 5px 0;
}

/* -----------FOTER

footer section h2,
footer section p {
  margin: 0%;
}

footer section h2 {
  margin-top: 5px;
  margin-bottom: 0px;
}

footer section p {
  margin: 0%;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: none;
  padding: 20px;
  font-size: small;
  font-family: Arial, sans-serif;

} */

/* -------------------SOCIAL MEDIA */

.image-follow {
  background: none;
  padding: 0px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.image-follow h2 {
  color: #333;
  margin-bottom: 0px;
}

.image-follow img {
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: transform 0.3s;
}

.image-follow img:hover {
  transform: scale(1.1);
}

.image-follow section {
  display: inline-block;
}

#content {
  display: none;
  margin-top: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
}

/* -------------------menu */
#toggleMenuButton {
  display: inline-block;
  padding: 20px 20px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  font-style: italic;
}

#toggleMenuButton:hover {
  background: none;
}

/* ----------------Toggle Location */
#toggleLocationButton {
  display: inline-block;
  padding: 20px 20px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  font-style: italic;
}

#toggleLocationButton:hover {
  background: none;
}

/* ----------------Toggle About us */
#toggleAboutusButton {
  display: inline-block;
  padding: 20px 20px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  font-style: italic;
}

#toggleAboutusButton:hover {
  background: none;
}

/* ----------------Toggle Contact us */
#toggleContactusButton {
  display: inline-block;
  padding: 20px 20px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  font-style: italic;
}

#toggleContactusButton:hover {
  background: none;
}

/* ----------------Toggle FOllow us */
#toggleFollowusButton {
  display: inline-block;
  padding: 20px 20px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  font-style: italic;
}

#toggleFollowusButton:hover {
  background: none;
}